<aside id="cart-icon">
    <img src="/images/carrito-de-compras.png" alt="foto de un carrito de compras">
    <span id="cart-quantity">0</span>
</aside>
<form id="product-form">
    <h2>Agregue un producto</h2>
    <label for="productTitle">Ingrese el titulo del producto
        <input id="productTitle" type="text" placeholder="Ingrese titulo del producto">
    </label>
    <label for="productCode">Ingrese el código del producto
        <input id="productCode" type="text" placeholder="Ingrese código del producto">
    </label>
    <label for="productPrice">Ingrese el precio del producto
        <input id="productPrice" type="number" placeholder="Ingrese precio del producto">
    </label>
    <label for="productStock">Ingrese el stock del producto
        <input id="productStock" type="number" placeholder="Ingrese stock del producto">
    </label>
    <label for="productDescription">Ingrese descripción del producto
        <textarea name="productDescription" id="productDescription" placeholder="Ingrese descripción del producto"></textarea>
    </label>
    <label for="productStatus">Ingrese disponibilidad del producto
        <select name="productStatus" id="productStatus">
            <option value="true">Disponible</option>
            <option value="false">Sin disponibilidad</option>
        </select>
    </label>
    <label for="productCategory">Ingrese categoría del producto
        <select name="productCategory" id="productCategory">
            <option value="Electrodomésticos">Electrodomésticos</option>
            <option value="Jardin">Jardín</option>
            <option value="Hogar">Hogar</option>
        </select>
    </label>
    <button id="submitButton">Crear producto</button>
</form>
<section>
    <h2>Listado de productos</h2>
    <div id="products-container">
    {{#each productsWithFixedPrice}}
        <div class="product-card">
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <p>Categoría: {{this.category}}</p>
            <p>Precio: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Code: {{this.code}}</p>
            <p>Status: {{this.status}}</p>
            <button data-add-to-cart="{{this._id}}">Agregar al carro</button>
            <button data-product-id="{{this._id}}">Borrar</button>
        </div>
    {{/each}}
    </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/main.js"></script>
<script type="module" src="/js/webSocket.js"></script>
